   <%- include('header') -%> 
    <div class = "box" id = "heading">
        <h1  ><%= now %></h1>
    </div>
     
     <div class = "box">
  
         <% DoList.forEach(function(elem) { %>
         <div class = "item">
             <input type="checkbox">
            <p class = items> <%=elem %></p>
         </div> 
         <% }); %> 
             <form class = "item"  action="/" method="post">
             <input type="text" name ="toDo" placeholder="I want to..." autofocus required="required" autocomplete="off" >
             <button type="submit" class="rotateimg180" name = "list" value = <%= now %> >+</button>
             </form>
    </div>
    <%- include('footer') -%> 